MONGODB_URI=mongodb+srv://wattd2258_db_user:MySecurePassword123@cluster0.xaoxvlp.mongodb.net/blogforge?retryWrites=true&w=majority
JWT_SECRET=my_super_secret_production_key_999
CLIENT_URL=http://localhost:5173
PORT=5000
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_URL=http://localhost:5173
PORT=5000
